* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
     
}

.header .righthead-section {
    display: flex;
    align-items: center;
}

.righthead-section .navigations ul li {
    list-style: none;
    margin-right: 20px;
}

.righthead-section .navigations ul {
    display: flex;
    
}

.righthead-section .navigations ul li a {
    text-decoration: none;
    color: #1E1B1B;
    ;
}

.righthead-section .navigations {
    border-right: 1px solid grey;
}

 .righthead-section .road-assist {
    display: flex;
}

.righthead-section .road-assist #call-sign {
    padding: 0px 20px 0px 20px;
}

.intro-section {
    padding: 35px 0px;
}

.intro-section .intro-img {
    width: 50%;
    background: url(https://res.cloudinary.com/lovelyfin00/image/upload/v1650365219/work%20images/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.intro-section .intro-text {
    width: 50%;
    margin-top: 40px;
}

.intro-section .intro-text h1 {
    font-size: 64px;
    padding: 15px 0px;
}

.intro-section .intro-text #book-button {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
}

.intro-section .intro-text .time-section {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.intro-section .intro-text .time-section #clock-image {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.intro-section .intro-text .time-section #we-open {
    color: #939191;
}


.quote-background {
    background:  #E2E6E9;
    min-height: 100vh;
}

.quote-section {
    padding-top: 70px;
}

.quote-section .left-quote, .quote-section .right-quote {
    width: 45%;
}

.quote-section .right-quote {
    margin-left: 20px;
}

.quote-section .left-quote h2 {
    font-size: 58px;
    margin-bottom: 30px;
}

.quote-section .left-quote ul {
    list-style: none;
}

.quote-section .left-quote ul li {
   margin-bottom: 25px; 
}


.quote-section .left-quote ul li .list-one .list-one-text {
    width: 50%;
}

.quote-section .left-quote ul li .list-one .list-image {
    margin-right: 10px;
}

.quote-section .left-quote ul li .list-one .list-one-text h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

.quote-section .left-quote ul li #par-know-more {
   margin-left: 35px;
}

.quote-section .left-quote ul li #par-know-more p {
    margin-right: 20px;
}

.quote-section .right-quote h3 {
    font-size: 48px;
}

.quote-section .right-quote input {
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.quote-section .right-quote .input-box {
    margin-top: 20px;
}

.quote-section .right-quote #get-quote {
    background:  #FF6433;
    border-radius: 12px;
    display: inline-block;
    padding: 16px 40px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 20px;
}

.process-container {
    width: 70%;
    margin-left: 50px;
    margin-top: 80px;
    min-height: 60vh;
    padding-bottom: 20px;
}

.process-section .left-process {
    margin-top: 30px;
}

.process-section .left-process h2 {
    font-size: 50px;
    width: 80%;
    margin-bottom: 20px;
}

.process-section .left-process #left-par {
    width: 60%;
}

.process-section .left-process .learn-more {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
}

.process-section .right-process .process-one {
    margin-bottom: 20px;
}

.process-section .right-process .process-one .text-process p {
    width: 80%;
}

.process-section .right-process .process-one .text-process h3 {
    margin-bottom: 10px;
}

.process-section .right-process .process-one .img-process {
    margin-right: 10px;
}

.process-section .right-process .vertical-line {
    border-left: 2px dotted #FF6433;
    height: 45px;
    margin-left: 15px;
    margin-top: -65px;
    margin-bottom: 20px;
}

.offer-background {
    background: #F2F2F2;
}


.offer-section {
    padding-top: 30px;
}

.offer-section h6, .offer-section h2 {
    text-align: center;
    margin-bottom: 10px;
}

.offer-section h2 {
    font-size: 58px;
    width: 75%;
    margin-left: 130px;
    margin-bottom: 20px;
}

.offer-section h6 {
    font-size: 24px;
}

.offer-section .offer-carosel .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background: #FFFFFF;
    margin-right: 10px;
    min-height: 25vh;
    margin-bottom: 10px;
}

.offer-section .offer-carosel .flex-column:hover {
    background-color: #FF6433;
}

.offer-section .offer-carosel #box-color {
    background: #FF6433;
}

.offer-section .offer-carosel .flex-column .carosel-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.offer-section .learn-services {
    margin-left: 875px;
    margin-top: 20px;
}

.offer-section .learn-services p {
    margin-right: 10px;
}

.query-section {
    background: #F2F2F2;

}

.query-section #query-sec {
    padding-top: 60px;
}

.query-section .first-query-bg {
    background: url(../img/car.image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 50vh;
    width: 15%;
    
}

.query-section .query-para {
    min-height: 50vh;
    background: #FF6433;
    width: 45%;
    color: #FFFFFF;
}

.query-section .query-para p {
    font-size: 38px;
    width: 85%;
    padding-top: 90px;
    margin-left: 50px;
}

.query-section .query-para .contact-button {
    background: #1E1B1B;
    border-radius: 12px;
    padding: 16px 40px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px 0 10px 50px;
}

.query-section .second-query-bg {
    background: url(../img/car.connect.png);
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
} 

.query-section .flex-portfolio {
    display: flex;
}

.query-section .flex-portfolio .portfolio {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 20px;
}

.query-section .flex-portfolio .portfolio h3 {
    color: #661CE7;
    font-size: 58px;
}

.query-section .flex-portfolio .portfolio p {
    font-size: 24px;
    padding-bottom: 30px;
}


.brand-section {
    background: #FAFAFA;
}

.brand-section .brand-subsection {
    padding: 50px 0px;
}

.brand-section .brand-subsection h3 {
    text-align: center;
    font-size: 43px;
    padding-right:50px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.brand-section .brand-subsection #brand-logo .brand-logo{
    margin-top: 20px;
    width: 20%;
}

.review-section {
    background: #F2F2F2;
    padding: 80px 0px;
    min-height: 100vh;
}

.review-section h3 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    width: 70%;
    margin-left: 120px;
}

.review-section .flex-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-section .flex-review .review-box {
    width: 49%;
    background: #FFFFFF;
    margin-top: 30px;
    padding: 50px 40px;
}

.review-section .flex-review .review-box .review-para p {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.review-section .flex-review .review-box .review-profile {
    margin-top: 20px;
}

.review-section .flex-review .review-box .review-profile .profile-pic {
    margin-right: 10px;
    width: 10%;
}

.review-section .flex-review .review-box .review-profile .profile-pic img {
    width: 100%;
}

.review-section .flex-review .review-box .review-profile h6 {
    font-size: 24px;
    font-weight: 600;
}

.review-section .flex-review .review-box .review-profile p {
    font-size: 16px;
    font-weight: 600;
    color: #939191;
}

.review-section .review-lines {
    margin-top: 20px;
    margin-left: 470px;
}

.review-section .review-lines .horizontal-lines {
    height: 2vh;
    margin-right: 4px;
}

.review-section .review-lines .horizontal-lines:hover {
    background: #FF6433;
}

.review-section .review-lines .flex-arrow {
    display: flex;
    align-items: center;
    margin-left: 390px;
}

.review-section .review-lines .flex-arrow img {
    margin-left: 10px;
}

.question-background {
    background: #E2E6E9;
    min-height: 100vh;
}

.question-section {
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
} 

.question-section h3 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
}

.question-section .question-box {
    background: #FFFFFF;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.flex-qbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-section .question-box h6 {
    font-size: 24px;
    font-weight: 600;
}

.question-section .question-box #orange-box {
    width: 5%;
}

.question-section .question-box #orange-box img {
    width: 100%;
}

.question-section .question-box p {
    font-size: 18px;
    font-weight: 500;
    color: #939191;
    margin-top: 20px;

}

.contact-section {
    background: #1E1B1B;
    color: #FFFFFF;
    padding: 70px 0;
}

.contact-section .left-contact {
    width: 40%;
}

.contact-section .left-contact h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.contact-section .left-contact .sm-logo #logo-unit {
    margin-right: 25px;
}

.contact-section .right-contact {
    width: 40%;
    margin-left: 40px;
}

.contact-section .right-contact .contact-address h6 {
    font-size: 18px;
    opacity: 0.6;margin-top: 10px;
}

.contact-section .right-contact .contact-address p {
    font-size: 24px;
    margin-bottom: 30px;
}

.footer-section {
    background: #1E1B1B;
    color: #FFFFFF;
    padding: 40px 0;
}

.footer-section #footer-logo, .footer-section #copy-write {
    width: 20%;
}

.footer-section #copy-write {
    color: #939191;
}

.footer-section #about-us {
    width: 40%;
}

.footer-section #about-us ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
} 

.footer-section #about-us ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 1025px) {
    .quote-section .left-quote h2 {
        font-size: 48px;
    }

    .quote-section .left-quote ul li .list-one .list-one-text {
        width: 80%;
    }

    .review-section .review-lines {
        margin-left: 350px;
    }

    .review-section .review-lines .flex-arrow {
        margin-left: 250px;
    }

    .offer-section .learn-services {
        margin-left: 620px;
    }
}

@media (max-width: 769px) {

    .righthead-section .navigations ul li {
        margin-right: 10px;
    }

    .righthead-section .road-assist #call-sign {
        padding: 0 10px;
    }

    .intro-section .intro-text h1 {
        font-size: 32px;
    }

    .quote-section .left-quote h2 {
        font-size: 30px;
    }
    
    .quote-section .left-quote ul li .list-one .list-one-text {
        width: 80%;
    }

    .quote-section .left-quote ul li .list-one .list-one-text h5 {
        font-size: 18px;
    }

    .quote-section .left-quote ul li {
        margin-bottom: 15px;
    }

    .quote-section .right-quote h3 {
        font-size: 25px;
    }

    .quote-section .right-quote input {
        padding: 10px;
    }

    .process-section .left-process  {
        margin-top: 20px;
    }

    .process-section .left-process h2 {
        font-size: 27px;
    }

    .process-section .left-process #left-par {
        width: 80%;
    }

    .process-section .right-process .process-one .text-process p {
        width: 100%;
    }

    .offer-section h2 {
        font-size: 30px;
        margin-left: 70px;
    }

    .offer-section h6 {
        font-size: 17px;
    }

    .offer-section .learn-services {
        margin-left: 410px;
    }

    .offer-section .offer-carosel .flex-column {
        min-height: 65vh;
    }

    .query-section .query-para p {
        font-size: 25px;
        padding-top: 45px;
    }

    .query-section .flex-portfolio .portfolio {
        width: 20%;
    }

    .query-section .flex-portfolio {
        justify-content: space-between;
    }

    .brand-section .brand-subsection h3 {
        font-size: 35px;
    }

    .brand-section .brand-subsection #brand-logo .brand-logo {
        width: 30%;
    }

    .review-section h3 {
        font-size: 30px;
    }

    .review-section .flex-review .review-box .review-profile .profile-pic {
        width: 15%;
    }

    .review-section .flex-review .review-box .review-para p, .review-section .flex-review .review-box .review-profile h6 {
        font-size: 20px;
    }

    .review-section .review-lines {
        margin-left: 250px;
    }

    .review-section .review-lines .flex-arrow {
        margin-left: 145px;
    }

    .question-section h3 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .question-section {
        width: 65%;
    }

    .question-section .question-box h6 {
        font-size: 20px;
    }

    .question-section .question-box #orange-box {
        width: 7%;
    }

    .contact-section {
        padding: 35px 0;
    }


    .contact-section .right-contact {
        margin-left: 80px;
    }

    .contact-section .left-contact h3 {
        font-size: 35px;
    }

    .contact-section .right-contact .contact-address p {
        font-size: 17px;
    }

    .contact-section .right-contact .contact-address h6 {
        font-size: 12px;
    }

    .footer-section #footer-logo {
        width: 10%;
    }

    .footer-section #copy-write {
        width: 30%;
    }

    .footer-section #about-us {
        display: none;
    }


}

@media (max-width: 426px) {
    .flex-sm-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header .righthead-section {
        align-items: flex-start;
        display: none;
    }

    .header .righthead-section .navigations {
        border: none;
    }

    .header .righthead-section .navigations ul li {
        margin-top: 10px;
    }

    .header .righthead-section .road-assist {
        margin-top: 10px;
    }

    .flex-sm-column {
        display: flex;
        flex-direction: column;
    }

    .intro-section .intro-text {
        width: 100%;
        order: 2;
    }

    .intro-section .intro-img {
        width: 100%;
        order: 1;
    }

    .intro-section .intro-text h1 {
        font-size: 32px;
        padding: 0;
    }

    .quote-section {
        padding: 50px 0;
    }

    .quote-section .left-quote, .quote-section .right-quote {
        width: 100%;
    }

    .quote-section .left-quote h2 {
        font-size: 35px;
    }

    .quote-section .left-quote ul li .list-one .list-one-text {
        width: 80%;
    } 

    .quote-section .left-quote ul li .list-one .list-one-text h5 {
        font-size: 17px;
    } 

    .quote-section .left-quote ul li #par-know-more {
        margin-left: 85px;
    }

    .quote-section .right-quote h3 {
        font-size: 28px;
    }

    .quote-section .right-quote input {
        padding: 7px;
    }

    .process-container {
        margin-top: 0;
        width: 80%;
    }

    .process-section .left-process {
        margin-bottom: 30px;
    }

    .process-section .left-process h2 {
        font-size: 32px;
        width: 100%;
    }

    .process-section .left-process #left-par {
        width: 100%;
    }

    .offer-section h2 {
        font-size: 30px;
        text-align: center;
        margin-left: 0px;
        width: 100%;
    }

    .offer-section h6 {
        font-size: 15px;
    }

    .flex-wrapped {
        display: flex;
        flex-wrap: wrap;
    }

    .offer-section .offer-carosel .flex-column {
        width: 100%;
    }

    .offer-section .learn-services {
        margin-left: 130px;
    }

    .query-section .first-query-bg {
        width: 100%;
        background-position: center;
    }

    .query-section .second-query-bg, .query-section .query-para {
        width: 100%;
    }

    .query-section .query-para p {
        font-size: 22px;
        width: 90%;
        margin-left: 15px;
    }

    .query-section .flex-portfolio .portfolio h3 {
        font-size: 30px;
    }

    .query-section .flex-portfolio .portfolio p {
        font-size: 20px;
    }

    .query-section .flex-portfolio .portfolio {
        width: 50%;
    }

    .container-sm {
        width: 100%;
        margin: 0 auto;
    }

    .brand-section .brand-subsection h3 {
        padding: 0;
        font-size: 35px;
    }

    .brand-section .brand-subsection #brand-logo .brand-logo {
        width: 40%;
        margin-right: 20px;
    }

    .review-section {
        padding: 20px 0;
    }

    .review-section h3 {
        width: 90%;
        margin-left: 0;
        font-size: 30px;
    }

    .review-section .flex-review .review-box {
        width: 100%;
    }

    .review-section .flex-review .review-box .review-profile .profile-pic {
        width: 15%;
    }

    .review-section .flex-review .review-box .review-profile h6 {
        font-size: 15px;
    }

    .review-section .flex-review .review-box .review-profile p {
        font-size:12px;
    }

    .review-section .flex-review .review-box .review-para p {
        font-size: 15px;
    }

    .review-section .review-lines {
        margin-left: 100px;
    }

    .review-section .review-lines .flex-arrow {
        margin-left: 20px;
    }

    .question-section {
        width: 80%;
    }

    .question-section h3 {
        font-size: 27px;
        margin-bottom: 20px;
    }

    .question-section .question-box h6 {
        font-size: 18px;
    }

    .question-section .question-box #orange-box {
        width: 10%;
    }

    .contact-section {
        padding: 30px;
    }

    .contact-section .left-contact, .contact-section .right-contact {
        width: 100%;
    }

    .contact-section .left-contact h3 {
        font-size: 27px;
        margin-bottom: 20px;
    }

    .contact-section .right-contact {
        margin: 10px 0 0 0;
    }

    .contact-section .right-contact .contact-address h6 {
        font-size: 14px;
    }

    .contact-section .right-contact .contact-address p {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .footer-section {
        padding: 20px 0;
    }

    .footer-section #footer-logo, .footer-section #copy-write, .footer-section #about-us {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-section #about-us ul li {
        margin-bottom: 7px;
    }

    .footer-section #about-us {
        display: none;
    }

}

@media (max-width: 376px) {
    .review-section .review-lines {
        margin-left: 60px;
    }

    .offer-section .learn-services {
        margin-left: 100px;
    }
}

@media (max-width: 321px) {
    .brand-section .brand-subsection #brand-logo .brand-logo {
        width: 50%;
    }
    
    .review-section .review-lines{
        margin-left: 20px;
    }

    .offer-section .learn-services {
        margin-left: 60px;
    }

}